<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.yidont.fm">

    <application >
        <activity android:name=".SingleFragmentUIA"
            android:theme="@style/FmBaseTheme.ThemeActivity">
        </activity>
        <activity android:name=".base.UniversalActivity"
            android:theme="@style/FmBaseTheme.ThemeActivity">

        </activity>
        <activity android:name=".base.UniversalSwipeBackActivity"
            android:theme="@style/FmBaseTheme.ThemeActivity">

        </activity>
    </application>

</manifest>
